importFrom("rlang", "abort", "warn", "is_empty", "is_string",
           "is_scalar_integerish", "is_character")

export("review", "make_edgelist", "make_nodelist", "augment_nodelist")
S3method("print", "netlit_review")